<!DOCTYPE html>
<html>
<!--Defines stylesheet-->
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}"></link>

    <header>
      <div class="container">
      <!--Displays title-->
	{% if title %}
        <h1 class="logo">Password Reset: {{ title }}</h1>
    {% else %}
        <h1 class="logo">Password Reset</h1>
    {% endif %}
    <!--Displays menu-->
      </div>
    </header>
    
    <body>
	{% with messages = get_flashed_messages(with_categories=true) %}
      	{% if messages %}
      		{% for category, message in messages %}
      		<p>
      			{{ message }}
      		</p>
      		{% endfor %}
      	{% endif %}
     {% endwith %}
     
    	<h1>Update Password </h1>
    	<p>Please fill out the information below to update your password.</p>
    	
    	<form method="POST" action="">
    	{{ form.hidden_tag() }}
    			
    			<div class="form">
    			{{ form.current_pass.label() }}
    			{%if form.current_pass.errors %}
    			
					{{ form.current_pass() }}
					
					<p>{% for error in form.current_pass.errors %}
					<span>{{ error }}</span>
					</p>
					{% endfor %}
				{% else %}
					{{ form.current_pass() }}
    			{% endif %}
    			</div>
    			
    			<div class="form">
    			{{ form.new_pass.label() }}
    			{%if form.new_pass.errors %}
    			
					{{ form.new_pass() }}
					
					<p>{% for error in form.new_pass.errors %}
					<span>{{ error }}</span>
					</p>
					{% endfor %}
				{% else %}
					{{ form.new_pass() }}
    			{% endif %}
    			</div>
    			
    			<div class="form">
    			{{ form.confirm_user_pass.label(class="form-control-label") }}
    			{%if form.confirm_user_pass.errors %}
    			
					{{ form.confirm_user_pass(class="form-control form-control-lg is_invalid") }}
					
					<p>{% for error in form.confirm_user_pass.errors %}
					<span>{{ error }}</span>
					</p>
					{% endfor %}
				{% else %}
					{{ form.confirm_user_pass(class="form-control form-control-lg") }}
    			{% endif %}
    			</div>
    		<div class="form">
    			{{ form.submit(class="btn-outline-info") }}
    		</div>
    	</form>	
    
    </body>
</html>